.footer {
  font-family: Montserrat-Light;
  background-color: #22353F;
  color: #AEAEAE;
  font-size: 14px;
}

.footer__copyright {
  display: block;
  text-align: center;
  padding: 48px 0;
}

.footer__copyright-ham {
  color: #18CFAB;
}