@font-face {
  font-family: Montserrat-Light;
  src: url('../fonts/Montserrat-Light.woff2');
  font-weight: 300;
}

@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/Montserrat-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/Montserrat-Bold.woff2');
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrapper {
  min-width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.button-wrapper {
  background-color: #fff;
  width: 170px;
  height: 63px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.button {
  font-family: Montserrat-Regular;
  font-weight: 700;
  font-size: 15px;
  width: inherit;
  height: inherit;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.button-wrapper:hover .button,
.button:hover {
  top: 0;
}

.section__title {
  font-family: Montserrat-Regular;
  font-size: 36px;
  color: #4e4e4e;
  position: relative;
}

.section__title::before {
  content: '';
  width: 76px;
  height: 1px;
  background-color: #18cfab;
  position: absolute;
  bottom: -31px;
  left: 33%;
}

.section__title::after {
  content: '';
  width: 76px;
  height: 1px;
  background-color: #18cfab;
  position: absolute;
  bottom: -35px;
  left: 39%;
}
