.header {
  font-family: Montserrat-Regular;
  min-height: 100vh;
  background: url('../images/section_header/section-header_bg.png') center/cover no-repeat fixed;
  display: flex;
  flex-direction: column;
}

.header__nav-wrapper {
  background-color: rgba(94, 93, 88, 0.6);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.header__items-and-search {
  display: flex;
  gap: 21px;
}

.header__items {
  display: flex;
  gap: 21px;
  line-height: 25px;
}

.items__item {
  font-weight: 700;
  height: 20px;
  text-transform: uppercase;
  position: relative;
}

.items__item:after {
  content: '';
  position: absolute;
  width: 0;
  top: 69px;
  right: 0;
  border-bottom: 2px solid #18cfab;
  transition: width 0.3s ease;
}

.items__item:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  border-bottom: 2px solid #18cfab;
  transition: width 0.3s ease;
}

.items__link {
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.4s ease;
}

.items__link:hover {
  color: #18cfab;
}

.header__search {
  width: 20px;
  height: 20px;
  fill: rgba(255, 255, 255, 0.6);
  transition: all 0.3s ease;
}

.header__search:hover {
  fill: #18cfab; 
}

.header__info {
  height: 892px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 130px;
}

.header__texts {
  font-family: Montserrat-Bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
  color: #fff;
}

.text__small {
  font-size: 35px;
  text-transform: uppercase;
}

.text__small span {
  color: #18cfab;
}

.text__big {
  font-size: 78px;
  text-transform: uppercase;
}

.text__thin {
  font-family: Montserrat-Light;
  font-size: 34px;
  color: #d4d4d4;
}

.header__info-buttons {
  display: flex;
  gap: 26px;
}

.header__button-explore {
  background-color: #18cfab;
  padding: 16px 17px;
}

.header__button-purchase {
  background-color: #00cbf6;
  padding: 16px 11px;
}
