.service__wrapper {
  padding: 92px 0;
}

.service {
  font-family: Montserrat-Regular;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 102px;
  width: 1160px;
  height: 375px;
}

.section__tabs {
  display: flex;
  flex-direction: column;
  width: inherit;
  gap: 27px;
}

.section__tabs-list {
  display: flex;
  text-align: center;
  line-height: 39px;
  color: #717171;
}

.service__tabs-item {
  background-color: #f8fcfe;
  cursor: pointer;
  user-select: none;
  padding: 15px 0;
  border: 1.5px solid #dadada;
  border-right: 1.5px solid transparent;
  position: relative;
  transition: border 0.1s ease;
  flex-basis: 100%;
}

.service__tabs-item:last-child {
  border-right: 1.5px solid #dadada;
}

.service__tabs-item:hover {
  border: 1.5px solid #18cfab;
}

.service__tabs-item-active,
.service__tabs-item-active.service__tabs-item:last-child {
  background-color: #18cfab;
  border: 1.5px solid #18cfab;
  color: #fff;
}

.service__tabs-item-active::before {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #18cfab;
  transform: rotate(45deg);
  position: absolute;
  top: 60px;
  left: 45%;
}

.service__tabs-content {
  font-family: Montserrat-Light;
  font-size: 14px;
  color: #777;
  padding: 27px 0 0;
  position: relative;
}

.service__content-item {
  display: flex;
  gap: 13px;
  transition: all 0.5s cubic-bezier(0, 0.46, 0, 0.33);
  text-shadow: #4e4e4e;
  position: absolute;
  top: 0;
}

.service__content-img {
  width: 193px;
  height: 140px;
}

.service__content-text {
  line-height: 24px;
}

.hidden {
  opacity: 0;
}
