.four-option {
  font-family: Montserrat-Regular;
  font-weight: 600;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 360px;
  padding: 8px 0;
}

.four-option__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.four-option__block-dark {
  background-color: #1c2a33;
  color: #18cfab;
  gap: 58px;
}

.four-option__block-light {
  background-color: #18cfab;
  color: #fff;
  gap: 78px;
}

.four-option__block-text {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 25px;
}
