.purchase__wrapper {
  background: url('../images/section_purchase/purchase_bg.jpg') center/cover
    no-repeat rgb(44, 44, 44);
  background-blend-mode: multiply;
}

.purchase {
  font-family: Montserrat-Bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 140px 0;
}

.purchase__title {
  font-size: 40px;
  text-transform: uppercase;
  color: #18cfab;
  margin: 0 0 13px;
}

.purchase__text {
  font-family: Montserrat-Regular;
  margin: 0 0 62px;
  color: #d8d8d8;
}

.purchase__button {
  background-color: #18cfab;
}
