.clients__wrapper {
  background: url('../images/section_clients/section-clients_bg.jpg') center/cover
    no-repeat;
  padding: 100px 0 80px;
}

.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  height: 750px;
}

.clients__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 170px;
}

.clients__title {
  position: relative;
  color: #fff;
}

.clients__title::before {
  position: absolute;
  bottom: -31px;
  left: 245px;
}

.clients__title::after {
  position: absolute;
  bottom: -35px;
  left: 265px;
}

.clients__content {
  display: flex;
  justify-content: center;
  width: 1160px;
  position: relative;
}

.clients__content::before {
  content: '';
  background: url('../images/section_clients/quotes.svg') no-repeat;
  width: 47px;
  height: 33px;
  position: absolute;
  top: -56px;
  left: 48%;
}

.swiper {
  font-family: Montserrat-Light;
  color: #BBBBBB;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clients__comment {
  text-align: center;
  line-height: 2;
  margin: 0 0 37px;
}

.clients__name {
  font-family: Montserrat-Bold;
  text-transform: uppercase;
  font-weight: 700;
  color: #18CFAB;
  margin: 0 0 20px;
}

.clients__profession {
  margin: 0 0 38px;
}

.clients__photo-wrapper {
  background: url('../images/section_clients/ellipse.svg');
  display: flex;
  align-items: center;
  width: 165px;
  height: 165px;
  border-radius: 50%;
}

.clients__photo {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
}

.swiper-bullets-wrapper {
  width: 480px;
  height: 90px;
  display: flex;
  justify-content: center;
  position: relative;
}

.swiper-bullets {
  width: 360px;
  height: inherit;
  margin: 0 auto;
  position: relative; 
  overflow: hidden;
}

.swipe-button {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #BBBBBB;
  position: absolute;
  top: 36%;
  cursor: pointer;
  user-select: none;
  border-radius: 10%;
  transition: all 0.2s ease;
}

.swipe-button-prev {
  box-shadow: 0px 1px 2px #b8b8b8;
  left: 0;
}

.swipe-button-next {
  box-shadow: 0px -1px 2px #b8b8b8;
  right: 0;
  transform: rotate(180deg);  
}

.swipe-button:hover {
  border-color: #18CFAB;
  background-color: #18CFAB;
  box-shadow: none;
}

.swipe-arrow {
  width: 10px;
  height: 15px;
  margin: 0 auto;
  fill: #BBBBBB;
}

.swipe-button:hover .swipe-arrow {
  fill: #fff;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease;
}

.swiper-pagination-bullet {
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px; 
  opacity: 1;
  position: relative;
  top: 0;
  transition: top 0.3s ease;
}

.swiper-pagination-bullet[aria-label="Go to slide 1"] {
  background-image: url('../images/section_clients/client1.jpeg');
}
.swiper-pagination-bullet[aria-label="Go to slide 2"] {
  background-image: url('../images/section_clients/client2.jpeg');
}
.swiper-pagination-bullet[aria-label="Go to slide 3"] {
  background-image: url('../images/section_clients/client3.jpeg');
}
.swiper-pagination-bullet[aria-label="Go to slide 4"] {
  background-image: url('../images/section_clients/client4.jpeg');
}
.swiper-pagination-bullet[aria-label="Go to slide 5"] {
  background-image: url('../images/section_clients/client5.jpeg');
}
.swiper-pagination-bullet[aria-label="Go to slide 6"] {
  background-image: url('../images/section_clients/client6.jpeg');
}

.swiper-pagination-bullet-active {
  position: relative;
  top: -10px;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 10px;
  left: 0;
  width: 540px;
}

.swiper-bullets .swiper-pagination .swiper-pagination-bullet {
  border: 5px solid rgb(34, 102, 88);
}
