.work__wrapper {
  padding: 97px 0;
  background-color: #e9edef;
}

.work__container {
  width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat-Regular;
  gap: 90px;
}

.work__tabs {
  gap: 70px;
}

.work__tabs-list {
  width: 582px;
  height: 58px;
  font-size: 14px;
  margin: 0 auto;
  align-items: center;
}

.work__tabs-item {
  height: inherit;
  background-color: #f8fcfe;
  border: 1.5px solid #dadada;
  border-right: 1.5px solid transparent;
  flex: 1 1 auto;
  padding: 8px 4px;
  cursor: pointer;
  user-select: none;
  transition: border 0.1s ease, color 0.2s ease;
}

.work__tabs-item:last-child {
  border-right: 1.5px solid #dadada;
}

.work__tabs-item:hover {
  color: #18cfab;
}

.work__tabs-item-active,
.work__tabs-item-active.work__tabs-item:last-child {
  border: 1.5px solid #18cfab;
  color: #18cfab;
  transition: all 0.3s ease;
}

.work__tabs-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
}

.work__content-item:hover {
  opacity: 0;
}

.content-hover-item--wrapper {
  width: 285px;
  height: 205px;
  position: relative;
  display: none;
}

.work__content-item {
  width: inherit;
  height: inherit;
  transition: all 0.5s ease;
  position: relative;
  z-index: 1;
}

.work__content-hover-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
  width: 285px;
  height: 205px;
  border-top: 6px solid #18cfab;
  position: absolute;
  top: 0;
}

.hover-item__texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.hover-item__title {
  font-weight: 700;
  text-transform: uppercase;
  color: #18cfab;
}

.hover-item__text {
  font-weight: 300;
  color: #8a8a8a;
}

.work__button-wrapper {
  background-color: rgb(219, 219, 219);
}

.work__button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 15px;
  background-color: #18cfab;
}

.show {
  display: block;
}

.hide {
  display: none;
}
