.news__wrapper {
  padding: 85px 0 130px;
}

.news {
  font-family: Montserrat-Regular;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.news__posts {
  display: grid;
  grid-template-columns: repeat(4, 265px);
  grid-template-rows: repeat(2, 280px);
  column-gap: 33px;
  row-gap: 45px;
}

.news__post {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.post__date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
  right: 0;
  background-color: #203e38;
  color: #fff;
  transition: all 0.3s ease;
}

.post__img {
  width: 265px;
  height: 208px;
}

.post__img-inner {
  width: inherit;
  height: inherit;
  transition: all 0.3s ease;
}

.post__texts {
  margin: 0 0 0 15px;
}

.news-grid-item1 .post__img {
  background: url('../images/section_news/photographer.png') 0 0/265px 208px
    no-repeat;
}
.news-grid-item2 .post__img {
  background: url('../images/section_news/fire.png') 0 0/265px 208px no-repeat;
}
.news-grid-item3 .post__img {
  background: url('../images/section_news/sit-on-bicycle.png') 0 0/265px 208px
    no-repeat;
}
.news-grid-item4 .post__img {
  background: url('../images/section_news/tablet.png') 0 0/265px 208px no-repeat;
}
.news-grid-item5 .post__img {
  background: url('../images/section_news/bird.png') 0 0/265px 208px no-repeat;
}
.news-grid-item6 .post__img {
  background: url('../images/section_news/ride-on-bicycle.png') 0 0/265px 208px
    no-repeat;
}
.news-grid-item7 .post__img {
  background: url('../images/section_news/two-humans.png') 0 0/265px 208px
    no-repeat;
}
.news-grid-item8 .post__img {
  background: url('../images/section_news/writting.png') 0 0/265px 208px
    no-repeat;
}

.post__title {
  font-family: Montserrat-Bold;
  font-size: 18px;
  color: #717171;
  margin: 0 0 15px;
  transition: all 0.3s cubic-bezier(0.24, 0.89, 0.23, 0.88);
}

.post__notes {
  font-family: Montserrat-Light;
  display: flex;
  gap: 35px;
  font-size: 14px;
  color: #777;
  position: relative;
}

.post__notes::after {
  content: '|';
  position: absolute;
  top: 0;
  left: 83px;
}

.news__post:hover .post__title {
  padding: 0 0 0 10px;
  color: #18cfab;
}

.news__post:hover .post__date {
  background-color: #18cfab;
}

.news__post:hover .post__img-inner {
  background-color: rgb(21 21 21 / 50%);
}

.news__post:hover .post__img {
  background-blend-mode: multiply;
}
